<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  The AIBench Plugin Manager Plugin
  %%
  Copyright (C) 2006 - 2017 Daniel Glez-Peña and Florentino Fdez-Riverola
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-3.0.html>.
  #L%
  -->
<plugin start="false">
	<uid>aibench.pluginmanager</uid>
	<name>AIBench Plugin Manager</name>
	<version>2.10.2</version>
	<lifecycleclass>es.uvigo.ei.sing.aibench.pluginmanager.lifecycle.Lifecycle</lifecycleclass>
	
	<dependencies>
		<dependency uid="aibench.core" />
	</dependencies>


<extensions>
	
	<!-- Add New Plugisn -->
		<extension uid="aibench.core" name="aibench.core.operation-definition" class="es.uvigo.ei.sing.aibench.pluginmanager.operations.AddNewPlugins">
			<operation-description 
				name="repository manager" 
				path="70@settings/"
				uid="aibench.pluginmanager.loadplugins"
			/>
	    </extension>
	    
	   <extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation operation="aibench.pluginmanager.loadplugins"
				icon="icons/Lifecycle/repo_manager.png" />
		</extension>
	    
	    <extension uid="aibench.workbench" name="aibench.workbench.view" >
			<gui-operation  
				operation="aibench.pluginmanager.loadplugins" 
				class="es.uvigo.ei.sing.aibench.pluginmanager.gui2.PluginManagerGUI"
				/>
		</extension>
		
	<!-- Update All existent plugins -->
	
		<extension uid="aibench.core" name="aibench.core.operation-definition" class="es.uvigo.ei.sing.aibench.pluginmanager.operations.UpdateAllPlugins">
			<operation-description 
				name="updates" 
				path="80@settings/"
				uid="aibench.pluginmanager.updates"
			/>
	    </extension>
	    
	    <extension uid="aibench.workbench" name="aibench.workbench.view" >
			<gui-operation  
				operation="aibench.pluginmanager.updates" 
				class="es.uvigo.ei.sing.aibench.pluginmanager.gui2.UpdateAllPluginsGUI"
				/>
		</extension>
		
		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation operation="aibench.pluginmanager.updates" 
				icon="icons/Lifecycle/synchronize.png" />
		</extension>
		
		
		<extension uid="aibench.core" name="aibench.core.operation-definition" class="es.uvigo.ei.sing.aibench.pluginmanager.operations.AutoUpdateAllPlugins">
			<operation-description 
				uid="aibench.pluginmanager.updatesextra"
			/>
	    </extension>
	    
	    <extension uid="aibench.workbench" name="aibench.workbench.view" >
			<gui-operation  
				operation="aibench.pluginmanager.updatesextra" 
				class="es.uvigo.ei.sing.aibench.pluginmanager.gui2.UpdateAllPluginsExtraGUI"
				/>
		</extension>
		
	<!-- Mini View -->
		
<!--
		<extension uid="aibench.workbench" name="aibench.workbench.view">
			<component slotid="bottom" 
				componentid="aibench.pluginmanager.information" 
				name="Plugin Information" 
				class="es.uvigo.ei.sing.aibench.pluginmanager.gui.PluginInformationComponent"
			/>
		</extension>

-->		
	</extensions>
</plugin>
